## Warm Up #1 SOLUTIONS

#### Set up:  

Create a folder on your computer where you will create your coding warm ups using the terminal window.

Open a new jupyter notebook in that folder.  

Complete this assignment in that jupyter notebook and save to your computer.

1. Create a dictionary where each object contains a list of one float (Age) and one string (Family name) (at least 5 objects) 
<br>Example: {Charles: [23.4, "Darwin"], Alan: [42.5, "Turing"]}

In [4]:
dict={'Tom': [43.2, 'Clancy'], 'J.K.': [32.5, 'Rowling'], 'Nicholis':[56.1, "Sparks"], 'R.L.':[62.8, "Stine"],
      'Danielle':[47.5, "Steel"]}

In [5]:
print(dict)

{'Tom': [43.2, 'Clancy'], 'J.K.': [32.5, 'Rowling'], 'Nicholis': [56.1, 'Sparks'], 'R.L.': [62.8, 'Stine'], 'Danielle': [47.5, 'Steel']}

2. Delete one object from the dictionary

In [7]:
del dict['Nicholis']

In [8]:
dict

{'Tom': [43.2, 'Clancy'],
 'J.K.': [32.5, 'Rowling'],
 'R.L.': [62.8, 'Stine'],
 'Danielle': [47.5, 'Steel']}

3. Replace the float number of one of your objects - we are changing a list entry inside a dictionary record! look at Darwin's new age
<br>Example: {Charles: [99.73, "Darwin"], Alan: [42.5, "Turing"]}

In [19]:
dict['J.K.'][0]=72.7

In [41]:
dict.values()

dict_values([[43.2, 'Clancy'], [72.7, 'Rowling'], [62.8, 'Stine'], [47.5, 'Steel']])

In [79]:
dict

{'Tom': [43.2, 'Clancy'],
 'J.K.': [72.7, 'Rowling'],
 'R.L.': [62.8, 'Stine'],
 'Danielle': [47.5, 'Steel']}

4. Write a for loop that goes through all records in the dictionary, and assigns the float numbers into one merged list (see ages)
<br>ages = [23.4, 22.9, 552.9]

In [53]:
age=[]
for author in dict.values():
    age.append(author[0])
print (age)

[43.2, 72.7, 62.8, 47.5]

#### BONUS

Calculate with a for loop the median and mean of the ages list

In [57]:
age=0
for author in dict.values():
    age +=(author[0])
mean=age/len(dict)

In [58]:
mean

56.55

In [132]:
age=[]
for author in dict.values():
    
    age.append(author[0])
age.sort()
def median(age):
    mid=len(age)/2
    if len(age) % 2==0:
        total = age[1] + age[2]
        return(total/2)
    else:
        return(age[mid])

In [133]:
median(age)

55.15