In [1]:
%load_ext autoreload
%autoreload 2
import untidy
import pandas as pd

In [2]:
untidy.exampleone()

       country  year       obser      count
0  Afghanistan  1999       cases        745
1  Afghanistan  1999  population   19987071
2  Afghanistan  2000       cases       2666
3  Afghanistan  2000  population   20595360
4       Brazil  1999       cases      37737
5       Brazil  1999  population  172006362

In [26]:
df = pd.DataFrame(untidy.exampleone())

       country  year       obser      count
0  Afghanistan  1999       cases        745
1  Afghanistan  1999  population   19987071
2  Afghanistan  2000       cases       2666
3  Afghanistan  2000  population   20595360
4       Brazil  1999       cases      37737
5       Brazil  1999  population  172006362

In [3]:
untidy.exampletwo()

       country  year               rate
0  Afghanistan  1999       745/19987071
1  Afghanistan  2000      2666/20595360
2       Brazil  1999    37737/172006362
3       Brazil  2000    80488/174504898
4        China  1999  212258/1272915272
5        China  2000  213766/1280428583

In [4]:
untidy.examplethree()

table 1
       country    1999    2000
0  Afghanistan     745    2666
1       Brazil   37737   80488
2        China  212258  213766

table 2
       country        1999        2000
0  Afghanistan    19987071    20595360
1       Brazil   172006362   174504898
2        China  1272915272  1280428583