# Data Cleaning with Pandas

## Scenario

As data scientists, we want to build a model to predict the sale price of a house in Seattle in 2019, based on its square footage. We know that the King County Department of Assessments has comprehensive data available on real property sales in the Seattle area. We need to prepare the data.

In [1]:
import pandas as pd

### Learning Goals:

- practice cleaning a real dataset
- practice using `py` files and the terminal in conjunction with jupyter notebooks
- run a `py` script through the terminal

In [2]:
!pwd

/Users/apeeblesmadigan/Desktop/dc-ds-071519/Module-1/week-2/day-7-pandas-part-3

### First, get the data!

When working on a project involving data that can fit on our computer, we store it in a `data` directory.

```bash
cd <project_directory>  # example: cd ~/flatiron_ds/pandas-3
mkdir data
cd data
```

Note that `<project_directory>` in angle brackets is a _placeholder_. You should type the path to the actual location on your computer where you're working on this project. Do not literally type `<project_directory>` and _do not type the angle brackets_. You can see an example in the _comment_ to the right of the command above.

![terminal](https://media3.giphy.com/media/yR4xZagT71AAM/giphy.gif?cid=790b76115d3620444553533759086a54&rid=giphy.gif)

Now, we'll need to download the two data files that we need. We can do this at the command line:

```bash
wget https://aqua.kingcounty.gov/extranet/assessor/Real%20Property%20Sales.zip
wget https://aqua.kingcounty.gov/extranet/assessor/Residential%20Building.zip
```

*Note:* If you do not have the `wget` command yet, you can install it with `brew install wget`, or use `curl <url> -o <filename>`.

Note that `%20` in a URL translates into a space. Even though you will *never put spaces in filenames*, you may need to deal with spaces that _other_ people have used in filenames.

There are two ways to handle the spaces in these filenames when referencing them at the command line.


![internetgif](https://media2.giphy.com/media/QWkuGmMgphvmE/giphy.gif?cid=790b76115d361f42304a6850369f37ea&rid=giphy.gif)

#### 1. You can _escape_ the spaces by putting a backslash (`\`, remember _backslash is next to backspace_) before each one:

`unzip Real\ Property\ Sales.zip`

This is what happens if you tab-complete the filename in the terminal. Tab completion is your friend!

#### 2. You can put the entire filename in quotes:

`unzip "Real Property Sales.zip"`

Try unzipping these files with the `unzip` command. The `unzip` command takes one argument, the name of the file that you want to unzip.

In [3]:
sales_df = pd.read_csv('data/EXTR_RPSale.csv')

/Users/apeeblesmadigan/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Seeing pink? Warnings are useful!

Note the warning above: `DtypeWarning: Columns (1, 2) have mixed types.` Because we start with an index of zero, the columns that we're being warned about are actually the _second_ and _third_ columns, `sales_df['Major']` and `sales_df['Minor']`.

In [7]:
sales_df.dtypes

ExciseTaxNbr           int64
Major                 object
Minor                 object
DocumentDate          object
SalePrice              int64
RecordingNbr          object
Volume                object
Page                  object
PlatNbr               object
PlatType              object
PlatLot               object
PlatBlock             object
SellerName            object
BuyerName             object
PropertyType           int64
PrincipalUse           int64
SaleInstrument         int64
AFForestLand          object
AFCurrentUseLand      object
AFNonProfitUse        object
AFHistoricProperty    object
SaleReason             int64
PropertyClass          int64
SaleWarning           object
dtype: object

In [5]:
sales_df.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
0,2687551,138860,110,08/21/2014,245000,20140828001436,,,,,...,3,6,3,N,N,N,N,1,8,
1,1235111,664885,40,07/09/1991,0,199203161090,071,001,664885,C,...,3,0,26,N,N,N,N,18,3,11
2,2704079,423943,50,10/11/2014,0,20141205000558,,,,,...,3,6,15,N,N,N,N,18,8,18 31 51
3,2584094,403700,715,01/04/2013,0,20130110000910,,,,,...,3,6,15,N,N,N,N,11,8,18 31 38
4,1056831,951120,900,04/20/1989,85000,198904260448,117,053,951120,P,...,3,0,2,N,N,N,N,1,9,49

### Data overload?

That's a lot of columns. We're only interested in identifying the date, sale price, and square footage of each specific property. What can we do?

In [8]:
sales_df = sales_df[['Major', 'Minor', 'DocumentDate', 'SalePrice']]

In [9]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2035819 entries, 0 to 2035818
Data columns (total 4 columns):
Major           object
Minor           object
DocumentDate    object
SalePrice       int64
dtypes: int64(1), object(3)
memory usage: 62.1+ MB

In [10]:
bldg_df = pd.read_csv('data/EXTR_ResBldg.csv')

/Users/apeeblesmadigan/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Another warning! Which column has index 11?

In [11]:
bldg_df.columns[11]

'ZipCode'

`ZipCode` seems like a potentially useful column. We'll need it to determine which house sales took place in Seattle.

In [12]:
bldg_df.dtypes

Major                   int64
Minor                   int64
BldgNbr                 int64
NbrLivingUnits          int64
Address                object
BuildingNumber         object
Fraction               object
DirectionPrefix        object
StreetName             object
StreetType             object
DirectionSuffix        object
ZipCode                object
Stories               float64
BldgGrade               int64
BldgGradeVar            int64
SqFt1stFloor            int64
SqFtHalfFloor           int64
SqFt2ndFloor            int64
SqFtUpperFloor          int64
SqFtUnfinFull           int64
SqFtUnfinHalf           int64
SqFtTotLiving           int64
SqFtTotBasement         int64
SqFtFinBasement         int64
FinBasementGrade        int64
SqFtGarageBasement      int64
SqFtGarageAttached      int64
DaylightBasement       object
SqFtOpenPorch           int64
SqFtEnclosedPorch       int64
SqFtDeck                int64
HeatSystem              int64
HeatSource              int64
BrickStone              int64
ViewUtilization        object
Bedrooms                int64
BathHalfCount           int64
Bath3qtrCount           int64
BathFullCount           int64
FpSingleStory           int64
FpMultiStory            int64
FpFreestanding          int64
FpAdditional            int64
YrBuilt                 int64
YrRenovated             int64
PcntComplete            int64
Obsolescence            int64
PcntNetCondition        int64
Condition               int64
AddnlCost               int64
dtype: object

### So many features!

As data scientists, we should be _very_ cautious about discarding potentially useful data. But, today, we're interested in _only_ the total square footage of each property. What can we do?

In [13]:
bldg_df = bldg_df[['Major', 'Minor', 'SqFtTotLiving', 'ZipCode']]

In [14]:
bldg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512827 entries, 0 to 512826
Data columns (total 4 columns):
Major            512827 non-null int64
Minor            512827 non-null int64
SqFtTotLiving    512827 non-null int64
ZipCode          468452 non-null object
dtypes: int64(3), object(1)
memory usage: 15.7+ MB

In [16]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2035819 entries, 0 to 2035818
Data columns (total 4 columns):
Major           object
Minor           object
DocumentDate    object
SalePrice       int64
dtypes: int64(1), object(3)
memory usage: 62.1+ MB

In [15]:
sales_data = pd.merge(sales_df, bldg_df, on=['Major', 'Minor'])

In [17]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1407235 entries, 0 to 1407234
Data columns (total 6 columns):
Major            1407235 non-null object
Minor            1407235 non-null object
DocumentDate     1407235 non-null object
SalePrice        1407235 non-null int64
SqFtTotLiving    1407235 non-null int64
ZipCode          1291909 non-null object
dtypes: int64(2), object(4)
memory usage: 75.2+ MB

### Error!

Why are we seeing an error when we try to join the dataframes?

<table>
    <tr>
        <td style="text-align:left"><pre>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2013160 entries, 0 to 2013159
Data columns (total 4 columns):
Major           object
Minor           object
DocumentDate    object
SalePrice       int64
dtypes: int64(1), object(3)
memory usage: 61.4+ MB</pre></td>
        <td style="text-align:left"><pre>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511359 entries, 0 to 511358
Data columns (total 4 columns):
Major            511359 non-null int64
Minor            511359 non-null int64
SqFtTotLiving    511359 non-null int64
ZipCode          468345 non-null object
dtypes: int64(3), object(1)
memory usage: 15.6+ MB
</pre></td>
    </tr>
</table>

Review the error message in light of the above:

* `ValueError: You are trying to merge on object and int64 columns.`

In [21]:
sales_df['Major'] = pd.to_numeric(sales_df['Major'],errors='coerce')

In [22]:
sales_df['Minor'] = pd.to_numeric(sales_df['Minor'],errors='coerce')

### Error!

Note the useful error message above:

`ValueError: Unable to parse string "      " at position 936643`

In this case, we want to treat non-numeric values as missing values. Let's see if there's a way to change how the `pd.to_numeric` function handles errors.

In [ ]:
# The single question mark means "show me the docstring"
pd.to_numeric?

Here's the part that we're looking for:
```
errors : {'ignore', 'raise', 'coerce'}, default 'raise'
    - If 'raise', then invalid parsing will raise an exception
    - If 'coerce', then invalid parsing will be set as NaN
    - If 'ignore', then invalid parsing will return the input
```

Let's try setting the `errors` parameter to `'coerce'`.

In [ ]:
sales_df['Major'] = pd.to_numeric(sales_df['Major'], errors='coerce')

Did it work?

In [ ]:
sales_df.info()

It worked! Let's do the same thing with the `Minor` parcel number.

In [ ]:
sales_df['Minor'] = pd.to_numeric(sales_df['Minor'], errors='coerce')

In [ ]:
sales_df.info()

Now, let's try our join again.

In [100]:
sales_data = pd.merge(sales_df, bldg_df, on=['Major', 'Minor'])

In [24]:
# 1407235 homes
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1407235 entries, 0 to 1407234
Data columns (total 6 columns):
Major            1407235 non-null object
Minor            1407235 non-null object
DocumentDate     1407235 non-null object
SalePrice        1407235 non-null int64
SqFtTotLiving    1407235 non-null int64
ZipCode          1291909 non-null object
dtypes: int64(2), object(4)
memory usage: 75.2+ MB

In [ ]:
sales_data.info()

We can see right away that we're missing zip codes for many of the sales transactions. (1321536 non-null entries for ZipCode is fewer than the 1436772 entries in the dataframe.)

In [25]:
sales_data.loc[sales_data['ZipCode'].isna()].head()

      Major Minor DocumentDate  SalePrice  SqFtTotLiving ZipCode
87   717370   350   12/01/1997          0           3380     NaN
88   717370   350   09/13/2004     300000           3380     NaN
89   717370   350   02/06/2006     901000           3380     NaN
104  277110  1923   02/08/2007     372500           1000     NaN
105  277110  1923   02/08/2007          0           1000     NaN

Because we are interested in finding houses in Seattle zip codes, we will need to drop the rows with missing zip codes.

In [101]:
sales_data = sales_data.loc[~sales_data['ZipCode'].isna(), :]

# sales_data.head()

In [102]:
# 1334823 homes
sales_data.shape

(1334823, 6)

# Your turn: Data Cleaning with Pandas
![turtletype](https://media3.giphy.com/media/cFdHXXm5GhJsc/giphy.gif?cid=790b76115d3627d8354c7179366b0672&rid=giphy.gif)

### 1. Investigate and drop rows with invalid values in the SalePrice and SqFtTotLiving columns.

Use multiple notebook cells to accomplish this! Press `[esc]` then `B` to create a new cell below the current cell. Press `[return]` to start typing in the new cell.

In [104]:
# sales_data.describe()

              Major         Minor     SalePrice  SqFtTotLiving
count  1.334823e+06  1.334823e+06  1.334823e+06   1.334823e+06
mean   4.478332e+05  1.587683e+03  2.854156e+05   2.090023e+03
std    2.861843e+05  2.872052e+03  7.470866e+05   9.670153e+02
min    4.000000e+01  1.000000e+00 -6.000000e+02   0.000000e+00
25%    2.021200e+05  1.160000e+02  0.000000e+00   1.430000e+03
50%    3.856900e+05  3.300000e+02  1.600000e+05   1.920000e+03
75%    7.227500e+05  1.040000e+03  3.499500e+05   2.550000e+03
max    9.906000e+05  9.689000e+03  3.750000e+07   4.816000e+04

In [145]:
cleaned_data_SP = sales_data.loc[(sales_data['SalePrice']>0)]

In [148]:
cleaned_data_sql = cleaned_data_SP.loc[(['SqFtTotLiving']>0)]

### 2. Investigate and handle non-numeric ZipCode values

Can you find a way to shorten ZIP+4 codes to the first five digits?

What's the right thing to do with missing values?

In [122]:
# Read the error message and decide how to fix it.
# Note: using errors='coerce' is the *wrong* choice in this case.
def is_integer(x):
    try:
        _ = int(x)
    except ValueError:
        return False
    return True

cleaned_data_sql.loc[cleaned_data_sql['ZipCode'].apply(is_integer) == False, 'ZipCode'].head()

13522    98031-3173
13842    98042-3001
13843    98042-3001
13844    98042-3001
13845    98042-3001
Name: ZipCode, dtype: object

In [125]:
cleaned_data_sql['ZipCode2'] = cleaned_data_sql['ZipCode'].map(lambda x: str(x)[:5])

/Users/apeeblesmadigan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [128]:
cleaned_data_sql.ZipCode2.unique().shape

(129,)

### 3. Add a column for PricePerSqFt

In [129]:
cleaned_data_sql['PricePerSqFt'] = cleaned_data_sql.SalePrice/cleaned_data_sql.SqFtTotLiving

/Users/apeeblesmadigan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

### 4. Subset the data to 2019 sales only.

We can assume that the DocumentDate is approximately the sale date.

In [132]:
# get only 2019 sales
data2019 = cleaned_data_sql.loc[cleaned_data_sql.DocumentDate.str[-4:] == '2019']

In [152]:
data2019.shape

(12642, 8)

### 5. Subset the data to zip codes within the City of Seattle.

In [137]:
Zipcodes = [98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98112, 98115, 98116, 98117, 98118, 98119, 98121, 98122, 98125, 98126, 98133, 98134, 98136, 98144, 98146, 98154, 98164, 98174, 98177, 98178, 98195, 98199]

zipseries = pd.Series(Zipcodes)
test = zipseries.astype(str)
ready_data = data2019.loc[data2019.ZipCode2.isin(test)]

### 6. What is the mean price per square foot for a house sold in Seattle in 2019?

Don't just type the answer. Type code that generates the answer as output!

In [140]:
average_price_psf=ready_data.PricePerSqFt.mean()

In [141]:
print(average_price_psf)

520.2328898928004

## Turning code into a script

#### make a new .py file
- open a new `.py` file _or_ open a new jupyter notbook and export as a `.py` file so we can start to edit the `.py` file directly
- save the file as `mean_ppsf_seattle.py`
- look at all your code between `sales_df = pd.read_csv('data/Real Property Sales.zip')` and question `number 6` above

#### review & organize your code
- _organize_ your code in the `mean_ppsf_seattle.py` to start with `sales_df = pd.read_csv('data/Real Property Sales.zip')` and end with printing out the mean price per square foot for a house sold in seattle in 2019
- the code should be able to run without throwing any errors
- remember to include `import pandas as pd` and any other necessary statements at the start of your script

#### test your script
- go to the terminal
- make sure you are in the same directory path as your jupyter notebook and the `.py` file
- in the terminal type and then run `python mean_ppsf_seattle.py`
- confirm the script returns in terminal what you wanted it to return

#### send your script to Ammar and Marisa

![anykey](https://media2.giphy.com/media/26BGIqWh2R1fi6JDa/giphy.gif?cid=790b76115d3627d8354c7179366b0672&rid=giphy.gif)